@import './fonts.scss';
$font-color: #81868e;
$active-color: #19bd9a;

@mixin flexAlign($hor: center, $vert: center, $pos: row)
{
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

html{
    font-size: 100%;
}


body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: $font-color;
    
}

h1, h2, h3{
    margin: 0;
}

.banner{
    width: 100%;
    height: 46.06rem;
    background: url('../images/Banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2.44rem;
    @include flexAlign ($hor: space-between, $pos: column);
    padding-bottom: 4.8rem;
    box-sizing: border-box;
        
       
    &__title{
        @include flexAlign ($pos: column);
        &-big{
            margin: 0;
            text-transform: uppercase;
            font-size: 2.19rem;
            font-weight: 300;
            letter-spacing: 7px; //расстояние между буквами
            margin-bottom: 2.88rem;


        }

        &-small{
            width: 38.13rem;
            text-align: center;
        }
       
    }

    &__button{
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background: $active-color;
        @include flexAlign;
        cursor: pointer;

        &-img {
            width: .75rem;
                
        }
      }



    .header{
        width: 100%;
        padding: 0 6.19rem; 
        box-sizing: border-box;
        @include flexAlign(space-between);


        &__logo{
        text-transform: uppercase;
        font-size: 1.56rem;
        font-weight: 800;
        }

        &__links{
            &-item{
            text-decoration: none;
            color: white;
            padding: .63rem 1.25rem;
            border: 1px solid transparent;
            box-sizing: border-box;
            border-radius: 1.2rem;
            transition: .4s;

            &:hover{
                border: 1px solid white
            }


        }

    }
}
}

.about{
    width: 100%;
    height: 30.44rem;
    background: white;
    @include flexAlign;
    

    &__text{
        width: 29.4rem;
        @include flexAlign($pos:column, $vert: flex-start);
        margin-right: 10rem;

        &-title{
            text-transform: uppercase;
            font-size: 1.25rem;
            margin-bottom: 2.8rem;
            font-weight: 300;
            letter-spacing: 5px;

        }

        &-content{
            font-size: 0.88rem;
            margin-bottom: 2rem;
        }

        &-btn{
            text-decoration: none;
            padding: .63rem 1.25rem;
            color: #333b46;
            border: 1px solid #333b46;
            box-sizing: border-box;
            border-radius: 1.2rem;
        }
    }

}

.details{
    @include flexAlign($pos: column);
    width: 100%;
    height: 38.6rem;
    background: #f3f3f3;

    &__buttons{
        width: 13.3rem;
        @include flexAlign($hor: space-between);
        margin-top: 3.88rem;

        &-item{
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            @include flexAlign;
            background: $font-color;
            cursor: pointer;
            transition: .4s;

            &_active{
                background: $active-color !important;
                cursor: default;
            }

            &:hover{
                background: rgba($active-color, .6);
            }
            
        }
    } 


    &__content{
        width: 64.4rem;
        /*border: 1px solid red;*/
        margin-top: 3.75rem;

        &-title{
            color: #333b46;
            font-size: 1.25rem;
            margin-bottom: 2.5rem;
            font-weight: 400;

        }

        &-text{
            display: inline-block;
            width: 20.75rem;
            font-weight: 400;

            &_big{
                width: 32.25rem;
                float: right;
                margin-right: 4rem;
            }
        }
    }
}


.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 2.5rem;


}

.subtitle{
    text-align: center;
    font-size: 0.88rem;
    font-weight: 300; 
    width: 29rem;  

}

.colored{
    color: $active-color;
}

.featured{
    width: 100%;
    height: 41.9rem;
    @include flexAlign($pos:column);

    &__whiskey{
        @include flexAlign;
        width: 100%;

        &-item{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 40%;
            flex: 2;
            height: 20rem;
            position: relative;
            color: red;
            @include flexAlign;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 4px;

            

           // &::after{
             //   content: '';
             //   display: block;
             //   padding-bottom: 100%;
            //}

           

            &_w1{
                background-image: url('../images/1.jpg');

                /*&::before{                                          // делает черно-белым
                    content: '';
                    background-color: rgba(black, .8);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                } */

                filter: grayscale(100%) brightness(.4);
                transition: .3s;
                
                &:hover{
                    filter: grayscale(0) brightness(1); // filter: none;
                }






            }

            &_w2{
                background-image: url('../images/2.jpg');

            }

            &_b1{
                background-image: url('../images/3.jpg');

            }

            &_small{
                flex: 1;
            }

            
        }
    }


    &__footer{
        width: 100%;
        box-sizing: border-box;
        padding: 0 10.5rem;
        @include flexAlign(space-between);
        background-image: url(../images/Без\ имени-5psd.jpg);
        background-size: cover ;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-size: 1.2rem;

        &-button{
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: .63rem 1.25rem;
            border-radius: 1.2rem;
            cursor: pointer;
            user-select: none;

            &:active{
                color: white;

            }
        }

    }
}



